

body {
margin: 0;
padding: 0;
height:100px;
width:100px;

background-color:black;
  color: blue;
font-family: sans-serif;
font-size: 10;

}

#banner {
  
  background-image: url("webster.cs.washington.edu/images/rancidbannerbg.png") repeat;
  
}

