

body {
height:auto;
margin: 0;
padding: 0;
  text-align:center;
background-image: url('https://webster.cs.washington.edu/images/moviebg.png');
font-family: sans-serif;
font-size: 10pt;
}


#banner {
text-align:center;
  background-image: url('https://webster.cs.washington.edu/images/rancidbannerbg.png');
  background-size: 50px;
}
#bnr {
  display:block;
margin: 0 auto;
}
#info {
text-align:center;
font-size:24pt;
  font-family:serif;
  text-shadow: 3px 3px #999999;
  font-weight:bold;
}
#in {
display:block;
margin: 0 auto;
}

#overallContent {
width:800px;
  text-align: center;
margin: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
  overflow:auto;
}
#content {
overflow:auto;
}
#left{
  overflow:auto;
  float:left;
width:550px;
}
#rotten {
background-image: url('https://webster.cs.washington.edu/images/rottenlargebg.png');
  background-size:83px;
}
#rating {
font-size:48pt;
  color:red;
  font-weight:bold;
}
#reviews {
  overflow:auto;
 background-color:#EEEEEE;
    height:100%;
}
#rc1 {
  float:left;
  overflow:auto;
width:47%;
  margin:1%;
}
#rc2 {
  float:right;
  overflow:auto;
width:47%;
  margin:1%
}
.review {
  margin-top:10pt;
font-size:10pt;
  font-family:serif;
  border: 2px solid thick #CCCCCC;
  border-radius:20px;
  background-color:#FFFFFF;
  padding:8px;
}
p.review > img {
float:left;
  width:auto;
  margin-right:5px;
}
p.rinfo > img {
float:left;
  width:auto;
  margin-right:5px;
}
.rinfo {
margin-bottom:10pt;
}
#genOverview{
  overflow:auto;
background-color:#A2B964;
  width:250px;
  max-width:250px;
  margin:0px;
  float:right;
  font-family:sans-serif;
  font-size:10pt;

}
#gInfo {
padding:10pt;
  text-align:left;
}
dt {
font-weight:bold;
}
dd {
margin-bottom:10pt;
}
ul {
    padding: 0;
    list-style-type: none;
}
#pg {
text-align:center;
  clear:left;
  clear:right;
  background-color:#A2B964;
  padding:5px;
}
#valid {
float: bottom;
  float: right;
  clear: left;
}
