

body {
height:auto;
margin: 0;
padding: 0;
background-image: url('https://webster.cs.washington.edu/images/moviebg.png');
font-family: sans-serif;
font-size: 10pt;
}


#banner {
text-align:center;
  background-image: url('https://webster.cs.washington.edu/images/rancidbannerbg.png');
  background-size: 50px;
}
#bnr {
  display:block;
margin: 0 auto;
}
#info {
text-align:center;
font-size:24pt;
  font-family:serif;
  text-shadow: 3px 3px #999999;
  font-weight:bold;
}
#in {
display:block;
margin: 0 auto;
}

#overallContent {
width:800px;
  padding:10px;
margin: 0 auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px gray;
}
#left{
  float:left;
width:550px;
  
}
#rotten {
background-image: url('https://webster.cs.washington.edu/images/rottenlargebg.png');
  background-size:83px;
}
#rating {
font-size:48pt;
  color:red;
  font-weight:bold;
}
#genOverview{
background-color:#A2B964;
  -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
  width:250px;
  padding:10pt;
  margin:0px;
  font-family:sans-serif;
  font-size:10pt;
  float:right;
}

